{% extends "../_adminLayout.html" %}
{% import "./_paginationMacro.html" as macro %}
{% block content %}
  <details name="list" open>
    <summary>Blog List ({{ postCount }})</summary>
    {% include './_postList.html' %}
    {{ macro.pagination('admin/blogList.html', pageNr, postCount, pageSize) }}
  </details>
{% endblock %}

{% block pagination %}
{% endblock %}

{% block scripts %}
  {% import './_deleteConfirmModalMacro.html' as deleteMacro %}
  {{ deleteMacro.deleteModal('admin/delete') }}
{% endblock %}
