{% extends "../_adminLayout.html" %}
{% import "./_paginationMacro.html" as macro %}
{% block content %}
  <details name="todos">
    <summary>Introduction</summary>
    <h1>Welcome to the Blog Post Admin Dashboard.</h1>
    <p>This is what you can do:</p>
    <ul>
      <li>
        <a href="/admin/newPost"
          >Here you can add new posts to your Blog.</a
        >
      </li>
      <li>
        <a href="/admin/blogList"
          >Here you can edit your posts or soft delete them.</a
        >
      </li>
      <li>
        <a href="/admin/trash"
          >Soft deleted Posts land in your trash. You have the option to restore
          them.</a
        >
      </li>
    </ul>
  </details>
  <details name="list" open>
    <summary>Blog List ({{ postCount }})</summary>
    {% include './_postList.html' %}
    {{ macro.pagination('admin/', pageNr, postCount, pageSize) }}
  </details>
{% endblock %}

{% block scripts %}
  {% import './_deleteConfirmModalMacro.html' as deleteMacro %}
  {{ deleteMacro.deleteModal('admin/delete') }}
{% endblock %}
